[Desktop Entry]
Type=Application
Name[cs]=Nastavení GDM
Name[de]=GDM-Einstellungen
Name[es]=Ajustes del GDM
Name[he]=הגדרות GDM
Name[it]=Impostazioni GDM
Name[ja]=GDM Settings
Name[sv]=GDM inställningar
Name[tr]=GDM Ayarları
Name[ru]=Настройки GDM
Name[pl]=Ustawienia GDM
Name=GDM Settings
Comment[cs]=Přizpůsobit přihlašovací obrazovku
Comment[es]=Personalice su pantalla de inicio de sesión
Comment[fr]=Personnalisez votre écran de connexion
Comment[he]=התאמת מסך הכניסה שלך
Comment[it]=Personalizza la tua schermata di accesso
Comment[ja]=ログイン画面をカスタマイズします
Comment[ko]=로그인 화면 사용자 정의
Comment[nb]=Tilpass innloggingsskjermen din
Comment[nl]=Zet uw aanmeldscherm naar eigen hand
Comment[oc]=Personalizatz l’ecran de connexion
Comment[pt]=Personalize o seu ecrã de início de sessão
Comment[sv]=Anpassa din inloggningsskärm
Comment[tr]=Giriş ekranınızı özelleştirin
Comment[ur]=لاگن والی سکرین کو کسٹومائز کریں
Comment[vi]=Tùy chỉnh màn hình đăng nhập của bạn
Comment[pt_BR]=Personalize o sua tela de início de sessão
Comment[fi]=Mukauta kirjautumisnäkymää
Comment[ru]=Настройте свой экран входа в систему
Comment[uk]=Налаштуйте свій екран входу
Comment[pl]=Dostosuj swój ekran logowania
Comment=Customize your login screen
Icon=beryl-settings
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=gdm-settings io.github.realmazharhussain.GdmSettings
Terminal=false
StartupNotify=true
StartupWMClass=io.github.realmazharhussain.GdmSettings
X-SingleMainWindow=true
DBusActivatable=true
Categories=GNOME;GTK;System;Settings;DesktopSettings;
X-Flatpak=io.github.realmazharhussain.GdmSettings
