[Desktop Entry]
Name[de]=Ressourcen
Name[es]=Resources
Name[fr]=Ressources
Name[it]=Risorse
Name[ka]=Resources
Name[nl]=Systeembronnen
Name[pl]=Zasoby
Name[pt_br]=Recursos
Name[ru]=Ресурсы
Name[uk]=Ресурси
Name[zh_TW]=Resources
Name=Resources
Comment[de]=Systemressourcen und Prozesse überwachen
Comment[es]=Monitoree los procesos y recursos del sistema
Comment[fr]=Surveillez les ressources et les processus de votre système
Comment[it]=Monitora risorse e processi del tuo sistema
Comment[ka]=გაშვებული პროცესებისა და სისტემის წარმადობის მონიტორინგი
Comment[nl]=Monitor uw systeembronnen en -processen
Comment[pl]=Monitoruj zasoby oraz procesy systemu
Comment[pt_br]=Monitore os recursos e processos de seu sistema
Comment[ru]=Контролируйте системные ресурсы и процессы
Comment[uk]=Моніторинг ресурсів і процесів вашої системи
Comment[zh_TW]=監控您的系統資源與處理程序
Comment=Monitor your system resources and processes
Type=Application
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=resources net.nokyan.Resources
Terminal=false
Categories=System
Keywords[de]=System;Ressourcen;Monitor;Überwachung;Prozesse;Benutzung;Auslastung;Task;Manager;CPU;RAM;Speicher;GPU;
Keywords[es]=Sistema;Recursos;Monitor;Procesos;Uso;Tarea;Admin;CPU;RAM;Memoria;GPU;
Keywords[fr]=Système;Ressources;Moniteur;Processus;Utilisation;Tâches;CPU;RAM;Mémoire;GPU;
Keywords[it]=Sistema;Risorse;Monitor;Processi;Utilizzo;Attività;Gestore;CPU;RAM;Memoria;GPU;
Keywords[ka]=System;Resources;Monitor;Processes;Usage;Task;Manager;CPU;RAM;Memory;GPU;მეხსიერება;პროცესორი;სისტემა;დატვირთვა;
Keywords[nl]=Systeem;Bronnen;Monitor;Processen;Gebruik;Taak;Beheer;Cpu;Ram;Geheugen;Gpu;
Keywords[pl]=System;Zasoby;Monitor;Procesy;Wykorzystanie;Zadań;Menadżer;CPU;RAM;Pamięć;GPU;
Keywords[pt_br]=Sistema;Recursos;Monitor;Processos;Uso;Tarefas;Admin;CPU;RAM;Memória;GPU;
Keywords[ru]=System;Resources;Monitor;Processes;Usage;Task;Manager;CPU;RAM;Memory;GPU;Система;Ресурсы;Процессы;ЦП;ОЗУ;Память;ГП;Монитор;Использование;
Keywords[uk]=System;Resources;Monitor;Processes;Usage;Task;Manager;CPU;RAM;Memory;GPU;система;ресурси;монітор;процеси;менеджер;задачі;процесор;відеокарта;пам'ять;оператива;завис;лаг;
Keywords[zh_TW]=系統;資源;監控器;處理程序;使用情形;任務;管理員;CPU;RAM;記憶體;GPU;
Keywords=System;Resources;Monitor;Processes;Usage;Task;Manager;CPU;RAM;Memory;GPU;
Icon=utilities-system-monitor
StartupNotify=true
X-Purism-FormFactor=Workstation;Mobile;
X-Flatpak=net.nokyan.Resources
