$include /etc/inputrc

set show-all-if-ambiguous On
set completion-ignore-case On

set colored-completion-prefix On
set menu-complete-display-prefix On

"\e[A": history-search-backward
"\e[B": history-search-forward
"\C-h": backward-kill-word
